<div class="navbar navbar-default navbar-fixed-top">
    <div class="container">
        <div class="nav-header">
            <a href="#" class="navbar-brand">Course Catalog</a>
        </div>

        <% if user_signed_in? %>
        <ul class="nav navbar-nav navbar-right">
            <li><%= link_to 'Subjects List', subject_index_path %></li>
            <li><%= link_to 'Courses List', course_index_path %></li>
            <li><%= link_to 'Instructors List', instructor_index_path %></li>
            <li><%= link_to 'User Profile', home_index_path %></br >
            <li><%= link_to 'Log out', destroy_user_session_path, method: :delete %></li>
        </ul>
        <% end %>
    </div>
</div>